/* Dark theme */
body {
  background-color: #121212;
  color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.ct-demo {
  padding: 20px;
  background-color: #1e1e1e;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* centralize content of .ct-demo */
.ct-demo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ct-demo * {
  border: #ceb2b2 solid 1px;
}
/* make .ct-demo take full viewport width and height */
.ct-demo {
  width: 100%;
}
.snd-icon-list-comp {
  border: #ceb2b2 solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.snd-icon-list {
  list-style-type: none;
}

.snd-icon-list,
.snd-icon-list-ct {
  display: flex;
}

.snd-icon-list-item,
.snd-icon-list-more {
  /* border: #ceb2b2 solid 1px; */
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
